@keyframes cabecera{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    0%{
        rotate: 0deg;
    }
}
/* header>h1>img{
    animation: cabecera 5s infinite;
} */
@keyframes mueveChincheta1{
    0%{
        left: 0px;
    }
    100%{
        left: 199px;
    }
}
.moverChincheta1{
    animation: mueveChincheta1 1s ease-in;
}
@keyframes animArticle1{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -2deg;
    }
} 
 .article1{
    animation: animArticle1 0.5s 1s forwards;
} 
@keyframes mueveChincheta2{
    0%{
        left: 0px;
    }
    100%{
        left: 120px;;
    }
}
.moverChincheta2{
    animation: mueveChincheta2 1s 1.5s forwards;
}
@keyframes mueveChincheta3{
    0%{
        left: 0px;
    }
    100%{
        left: 30px;
    }
}
.moverChincheta3{
    animation: mueveChincheta3 1s 2s forwards;
}
@keyframes animArticle3{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 2deg;
    }
}
.article3{
    animation: animArticle3 0.5s 3s forwards;
}

*{
    margin: 0px;
    padding: 0px;
}
/*Cambiar el fondo, el body por completo*/
body{
    padding: 100px;
    padding-bottom: 5%;
    margin-top: 20px;
    text-align: center;
    background-image: url("../imgs/pexels-leandro-boogalu-1390403.jpg");
    /* background-position: 75%; */
    background-repeat: no-repeat;
    
}
/*PADDING: MARGEN INTERIOR MARGIN: MARGEN EXTERIOR*/
/*El div general que va a englobar todo*/
#page{
    /*Con esto controlamos el ancho del div*/
    width: 80em;
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
/*La cabecera de nuestra página web*/
header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    color: white;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    
}
/*Este nav engloba los hiperenlaces para navegar por la página web*/
nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    height: 100px;
    background-color: rgba(143, 114, 119, 0);
    
}
/*Creamos una lista para hacer el menú desplegable*/
li{
    padding-top: 30px;
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    /*Con esto le quitamos el estilo al li*/
    list-style: none;
    /*Mostrar en modo columna los datos del li*/
    display: inline-block;
    text-align: center;
    cursor: default;
}
td{
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}
/*Con el #cogemos el id y con el . cogemos las class*/
#li1{
    /*Este li1 corresponde al botón de contenidos al que le pasamos
    una imagen de fondo, Contenidos*/
    background-image: url("./imgs/book.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}
#li2{
    /*Lo mismo que el anterior pero para el li2, en este caso Vídeos*/
    background-image: url("./imgs/film.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}

#li3{
    /*Lo mismo que el anterior pero para el li3, Contacto*/
    
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}
#li1:hover{
    text-shadow: 2px 2px 0px rgb(0, 132, 255);
    transition: 0.5s;
}

#li3:hover{
    text-shadow: 2px 2px 0px rgb(0, 132, 255);
    transition: 0.5s;
}

#li1 a{
    text-decoration: none;
    color: white;
}
#li2 a{
    text-decoration: none;
    color: white;
}
#li3 a{
    text-decoration: none;
    color: white;
}
/*si añadimos :hover es cuando el raton PASE POR ENCIMA DE LO QUE LE 
HAYAMOS PUESTO EN PRIMERA INSTANCIA, en este caso cuando pase por encima
de nuestro li1 li2 y li3*/


/*Este div es la parte central de la página web, donde tenemos los móviles
la descripción de cada tipo de lenguaje*/
#content{
    margin-bottom: -100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    width: 100%;
    height: 100px;
    display: table;
}
/*son nuestros articulos, donde tenemos las descripciones, los móviles y las 
chinchetas*/
#article{
    border-style:solid;
    width: 250px;
    height: 200px;
    border: 1px solid lightgray;
    text-align: center;
    line-height: 1.8em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin: 100px;
    float: left;   
}
/* formato que le pasamos a la descripción que está puesta debajo de cada imagen*/
.article_hombre{
    height: 350px;
    width: 300px;
    
}
#zapatillaHombre > img{
    width: 300px;
    height: 300px;
}
#zapatillaMujer > img{
    width: 300px;
    height: 300px;
}
#zapatillaMujer{
    border-style:solid;
    border-image-source: url("../imgs/movil.png") ;
    border-image-slice: 70 20 60 20;
    border-image-repeat: stretch;
    border-width: 70px 10px 60px 10px;
    float: left;
    margin-top: 30px;
    margin-left: 500px;
    height: 400px;
    width: 300px;
}
#zapatillaHombre{
    border-style:solid;
    border-image-source: url("../imgs/movil.png") ;
    border-image-slice: 70 20 60 20;
    border-image-repeat: stretch;
    border-width: 70px 10px 60px 10px;
    float: left;
    margin-top: 30px;
    margin-left: 70px;
    height: 400px;
    width: 300px;
}
/*le aplicamos diseño a todos los elementos h2 del documento*/
h2{
    padding: 10px;
    font-size: 1.2em;
}
aside{
    position: relative;
    left: 1200px;
    bottom: 700px;
    width: 100px;
}
aside p{
    margin: 10px;
}
/*el footer es la parte de abajo de nuestra página web, creandolo con footer sin
que sea un div el propio documento lo reconoce como pie de página y lo coloca abajo del todo
*/
footer{
    font-size: 0.7em;
    color: black;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*esto es un selector, le decimos que dentro del header coja el elemento h1
este código aplicará diseño al h1 del header, pero no al header*/
header h1{
    position: relative;
}
/*lo mismo que arriba pero al elemento img que tenga el h1 que a su vez
esté metido en el header*/
header h1 img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}
.article_header{
    position: relative;
}
/*con el . hacemos referencia al class que contiene la chincheta*/
.chincheta{
    position: absolute;
    width: 35px;
    height: 49px;
    top: -91px;
    background-image: url("../imgs/chincheta.png");
}
/*otros ejemplos de selectores, en este caso le estamos diciendo que dentro del div
article_header coja la primera chincheta que tenga con el first-child*/
.article_header:first-child .chincheta{
    left: 199px;
}
/*Para coger la segunda chincheta no podemos poner second-chil(no existe)
en este caso le decimos que dentro del elemento article con el nth-child le
especificamos concretamente que elemento queremos que coja,
primero entramos al article, le decimos que coja el segundo elemento que
a su vez esté dentro del article_header que se llame chincheta*/
article:nth-child(2) .article_header .chincheta{
    left: 120px;
}
/*lo mismo que arriba pero con el tercer elemento que se llame chincheta*/
article:nth-child(3) .article_header .chincheta{
    left: 30px;
}
article:first-child{
    transform: rotate(-2deg);
}
article:nth-child(3){
    transform: rotate(2deg);
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background: #eeee;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1; /* Para superponer el contenido principal */
}

/* Estilo para los elementos del menú desplegable */
.dropdown-content li {
    display: block;
    margin: 0; 
    /* Elimina cualquier margen interno */
    padding: 5px 15px;
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content li a {
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: black;
}

/* Agregar margen inferior para separar los elementos del menú */
.dropdown-content li:not(:last-child) {
    margin-bottom: 5px; /* Ajusta el valor según tus preferencias */
}

/* Mostrar el menú desplegable al pasar el ratón sobre "Vídeos" */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background: #eeee;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1; /* Para superponer el contenido principal */
}

/* Estilo para los elementos del menú desplegable */
.dropdown-content li {
    display: block;
    margin: 0; /* Elimina cualquier margen interno */
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content li a {
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000;
}
#menuDesplegable li:first-child {
    border-top-left-radius: 5px; /* Aplica borde redondeado arriba a la izquierda */
    border-top-right-radius: 5px; /* Aplica borde redondeado arriba a la derecha */
}

/* Estilo para el último elemento del menú desplegable */
#menuDesplegable li:last-child {
    border-bottom-left-radius: 5px; /* Aplica borde redondeado abajo a la izquierda */
    border-bottom-right-radius: 5px; /* Aplica borde redondeado abajo a la derecha */
}
/* Agregar margen inferior para separar los elementos del menú */
.dropdown-content li:not(:last-child) {
    margin-bottom: 0px; /* Ajusta el valor según tus preferencias */
}

/* Mostrar el menú desplegable al pasar el ratón sobre "Vídeos" */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li:nth-child(odd) {
    background-color: #fdfdfd; /* Color de fondo para elementos impares */
}

/* Estilos para los elementos pares del menú desplegable */
.dropdown-content li:nth-child(even) {
    background-color: #d6d6d6; /* Color de fondo para elementos pares */
}
.dropdown-content li:hover {
    background-color: #131212; /* Color de fondo en hover */
}
#menuDesplegable li a {
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: black; /* Cambia el color de fuente a tu preferencia */
    font-family: Arial, sans-serif; /* Cambia la fuente a tu preferencia */
    font-size: 14px; /* Cambia el tamaño de fuente a tu preferencia */
}
/*esto es el css del formulario*/
textarea{
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin: 10px;
    transition: 0.4s all ease-in;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 90%;
    height: 150px;
    background: url("../imgs/icon-mensaje.png") no-repeat 10px;
  
    
}
textarea:focus{
    box-shadow: 0px 0px 12px rgb(255,255,255);
}
input[type=submit]{
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid #434343;
    color: white;
    background: linear-gradient(#5e5e5e, #2a2a2a);
    box-shadow: inset 0px 1px 1px rga(#353535);
    cursor: pointer;
}
input[type=submit]:focus{
    background: linear-gradient(#2a2a2a, #5e5e5e);
}
input[type=tel]{
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin: 10px;
    height: 32px;
    width: 330px;
    background: url("../imgs/icon-nombre.png") no-repeat 10px;
    transition: 0.4s all ease-in;
}
input[type=date]{
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin: 10px;
    height: 32px;
    width: 330px;
    background: url("../imgs/icon-nombre.png") no-repeat 10px;
    transition: 0.4s all ease-in;
}
input[type=color]{
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin: 10px;
    height: 32px;
    width: 330px;
    background: url("../imgs/icon-nombre.png") no-repeat 10px;
    transition: 0.4s all ease-in;
}
input[type=text]{
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin: 10px;
    height: 32px;
    width: 330px;
    background: url("../imgs/icon-nombre.png") no-repeat 10px;
    transition: 0.4s all ease-in;
}
input[type=email]{
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin: 10px;
    height: 32px;
    width: 330px;
    background: url("../imgs/icon-correo.png") no-repeat 10px;
    transition: 0.4s all ease-in;
}
input[type=number]{
    display: inline-block;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin: 10px;
    height: 32px;
    width: 330px;
    background: url("../imgs/icon-correo.png") no-repeat 10px;
    transition: 0.4s all ease-in;
}
input[type=color]:focus:valid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/valid.png") right;
    background-repeat: no-repeat;
    
}
input[type=color]:focus:invalid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/invalid.png") right;
    background-repeat: no-repeat;
    
}
input[type=date]:focus:valid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/valid.png") right;
    background-repeat: no-repeat;
    
}
input[type=date]:focus:invalid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/invalid.png") right;
    background-repeat: no-repeat;
    
}
input[type=tel]:focus:valid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/valid.png") right;
    background-repeat: no-repeat;
    
}
input[type=tel]:focus:invalid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/invalid.png") right;
    background-repeat: no-repeat;
    
}
input[type=text]:focus:valid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/valid.png") right;
    background-repeat: no-repeat;
    
}
input[type=text]:focus:invalid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/invalid.png") right;
    background-repeat: no-repeat;

}
input[type=email]:focus:valid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/valid.png") right;
    background-repeat: no-repeat;
}
input[type=email]:focus:invalid{
    width: 370px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255);
    background: url("../imgs/invalid.png") right;
    background-repeat: no-repeat;
}
input + label::after{
    content: "*";
}
#contenedorFormulario{
    position: relative;
    display: inline-block;
    margin: 50px;
    width: 600px;
    padding: 20px 50px 20px 50px;
    justify-content: left;
    align-content: left;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4);
}

   
