body{
    background-color: #2293af;
}
h1{
    border-bottom: 2px solid #2293af;
}
p{
    font-weight: bold;
}
.cajitas{
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cajas{
    background-color: white;
    width: 1100px;
    height: 1100px;
    
}
.caja1{
    font-size:larger;
    border: 1px solid black;
    border-radius: 20px 30px 15px 50px;
    float: left;
    margin-left: 5%;
    margin-right: 10%;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 50px;
    

}
.caja2{
    border-radius: 5px 5px 5px 5px;
    font-size:larger;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 50px;
    float: left;
    margin-right: 10%;
    font-weight: bold;

}
.caja3{
    background: linear-gradient(to bottom, #FFFFFF, #006699);
    border-radius: 50px;
    font-size:larger;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 50px;
    float: left;
    margin-right: 10%;
    font-weight: bold;

}
.caja4{
    background:radial-gradient(circle, #FFFFFF 50%, #006699 200%);
    border-radius: 50px;
    font-size:larger;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 50px;
    clear: both;
    margin-top: 5%;
    font-weight: bold;
    margin-left: 5%;
    

}
.caja5{
    font-size:larger;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10%;
    float: right;
    order: 2;
    
}
.caja6{
    font-size:larger;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 5%;
    margin-left: 10%;
    font-weight: bold;
    float: right;
    order: 3;

}
.caja7{
    box-shadow: 5px 5px 10px #2293af;
    border-radius: 50px;
    border: 2px solid black;
    margin-bottom: 3%;
    margin-left: 3%;
    text-align: center;
    height: 50px;
    width: 93%;
    font-weight: bold;
}
.caja8{
    border-radius: 50px;
    border: 2px solid black;
    margin-bottom: 3%;
    margin-left: 3%;
    text-align: center;
    height: 50px;
    width: 93%;
    font-weight: bold;
}
.caja9{
    text-shadow: 5px 5px 5px #2293af;
    border-radius: 50px;
    border: 2px solid black;
    margin-bottom: 3%;
    margin-left: 3%;
    text-align: center;
    height: 50px;
    width: 93%;
    font-weight: bold;
}
.caja10{
    background: linear-gradient(30deg, #FFFFFF, #006699);
    border-radius: 50px;
    border: 2px solid black;
    margin-bottom: 3%;
    margin-left: 3%;
    text-align: center;
    height: 50px;
    width: 93%;
    font-weight: bold;
}
#footer{
    border-top: 2px solid #1c9a9e;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
