$colorTexto: #eee;
$colorTextoHover: #fff;

$colorFondo: #666;
$colorFondoHover: #888;

@mixin textoYbackground {
  color: $colorTexto;
  background-color: $colorFondo;
}
@mixin textoYbackgroundHover {
  color: $colorTextoHover;
  background-color: $colorFondoHover;
}
@mixin tamanyoCaja($x) {
  -webkit-box-sizing: $x;
  -moz-box-sizing: $x;
  box-sizing: $x;
}
@mixin transiciones($property, $duration, $timing: linear) {
  -webkit-transition: $property, $duration, $timing;
  -moz-transition: $property, $duration, $timing;
  transition: $property, $duration, $timing;
}
@mixin animaciones($name, $duration, $timing: linear) {
  -webkit-animation: $name, $duration, $timing;
  -moz-animation: $name, $duration, $timing;
  animation: $name, $duration, $timing;
}
footer {
    color: black;
    background-color: #e4dcdc;
  @include tamanyoCaja(border-box);
  font-size: 1em;
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
header {
  color: black;
  background-color: #e4dcdc;
  font-size: 2em;

}

nav {
background: $colorFondo;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    .categoria {
      position: relative;
      padding: 10px;
      width: 20%;
      text-align: center;
      @include textoYbackground();
        a {
            &:hover {
                @include textoYbackgroundHover();
            }
            color: white;
            text-decoration: none;
        }
        .submenu {
          position: absolute;
          overflow: hidden;
          top: 38px;
          left: -40px;
          height: 0;
          width: 100%;
          @include transiciones(height, 0.5s, ease-out);
            li {
            padding: 10px;
            display: block;
            text-align: center;
            position: relative;
            color: white;
            list-style: none;
            @include textoYbackground();
            a {
              color: white;
              padding: 6px;
              display: block;
            }
            &:hover{
                @include textoYbackgroundHover();
            }
          }
        }
    &:hover {
        @include textoYbackgroundHover();
        .submenu {
          display: block;
          height: 200px;
        }
    }
    }
  }
}
