nav {
  font-size:3vw;
  background: url("../imgs/jagdpanther.jpg") no-repeat;
}
header {
  font-size:3vw;
}
aside {
  font-size:3vw;
}
main {
  font-size:3vw;
}
.responsive {
  width: 100%;
  height: auto;
}
@media all and (width < 600px) {
  div,
  nav,
  header,
  aside,
  main {
    /* Cuando el ancho sea inferior a 600px el elemento será un bloque */
    display: block !important;
    /* Se ajustarán al ancho de la ventana */
    width: 100% !important;
    margin: auto !important;
    /* La posición será estática (flujo normal del documento) */
    position: static !important;
    /* los elementos dejarán de ser flotantes */
    float: none !important;
  }
  aside {
    height: 900px !important;
  }
}
