@keyframes cabecera{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    0%{
        rotate: 0deg;
    }
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 100px;
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(#ce3838,#ffff);
}
#page{
    box-shadow: 5px 5px 10px rgb(150,150,150);
    border-radius: 20px;
    width: 63em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    color: white;
    border-bottom: 6px solid black;
    background-image:linear-gradient(#3770db,lightblue);
    background-repeat: no-repeat;
    background-position: left 25px;
    background-position-y: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    
}
header>h1>img{
    animation: cabecera 5s infinite;
}
nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: linear-gradient(#e9bc2a, #d4c966);
}
li{
    padding-top: 80px;
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}
#li1{
    background-image: url("../imgs/book.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}
#li2{
    background-image: url("../imgs/film.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}
#li3{
    background-image: url("../imgs/mail.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}
#li1:hover{
    text-shadow: 2px 2px 0px red;
    transition: 0.5s;
}
#li2:hover{
    text-shadow: 2px 2px 0px red;
    transition: 0.5s;
}
#li3:hover{
    text-shadow: 2px 2px 0px red;
    transition: 0.5s;
}
#content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    background-color: white;
    width: 100%;
    display: table;
}
article{
    border-style:solid;
    
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 22px;
    margin: 30px;
    float: left;
    border-image-source: url("../imgs/movil.png");
    border-image-slice: 70 20 60 20;
    border-image-repeat: stretch;
    border-width: 70px 10px 70px 10px;
}
.article_header{
    border-bottom: 1px solid #999999;
    
}
h2{
    padding: 10px;
    font-size: 1.2em;
}
footer{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 0.7em;
    color: white;
    text-align: center;
    background-image: linear-gradient(#3770db,lightblue);
    border-top: 6px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
header h1{
    position: relative;
}
header h1 img{
    position: absolute;
    left: -75px;
}
.article_header{
    position: relative;
}
.chincheta{
    position: absolute;
    width: 35px;
    height: 49px;
    top: -91px;
    background-image: url("../imgs/chincheta.png");
}
.article_header:first-child .chincheta{
    left: 199px;
}
article:nth-child(2) .article_header .chincheta{
    left: 120px;
}
article:nth-child(3) .article_header .chincheta{
    left: 30px;
}
article:first-child{
    transform: rotate(-2deg);
}
article:nth-child(3){
    transform: rotate(2deg);
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background: #eeee;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1; /* Para superponer el contenido principal */
}

/* Estilo para los elementos del menú desplegable */
.dropdown-content li {
    display: block;
    margin: 0; /* Elimina cualquier margen interno */
    padding: 5px 15px;
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content li a {
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: white;
}

/* Agregar margen inferior para separar los elementos del menú */
.dropdown-content li:not(:last-child) {
    margin-bottom: 5px; /* Ajusta el valor según tus preferencias */
}

/* Mostrar el menú desplegable al pasar el ratón sobre "Vídeos" */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background: #eeee;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1; /* Para superponer el contenido principal */
}

/* Estilo para los elementos del menú desplegable */
.dropdown-content li {
    display: block;
    margin: 0; /* Elimina cualquier margen interno */
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content li a {
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000;
}
#menuDesplegable li:first-child {
    border-top-left-radius: 5px; /* Aplica borde redondeado arriba a la izquierda */
    border-top-right-radius: 5px; /* Aplica borde redondeado arriba a la derecha */
}

/* Estilo para el último elemento del menú desplegable */
#menuDesplegable li:last-child {
    border-bottom-left-radius: 5px; /* Aplica borde redondeado abajo a la izquierda */
    border-bottom-right-radius: 5px; /* Aplica borde redondeado abajo a la derecha */
}
/* Agregar margen inferior para separar los elementos del menú */
.dropdown-content li:not(:last-child) {
    margin-bottom: 0px; /* Ajusta el valor según tus preferencias */
}

/* Mostrar el menú desplegable al pasar el ratón sobre "Vídeos" */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li:nth-child(odd) {
    background-color: #e34c26; /* Color de fondo para elementos impares */
}

/* Estilos para los elementos pares del menú desplegable */
.dropdown-content li:nth-child(even) {
    background-color: #f06529; /* Color de fondo para elementos pares */
}
.dropdown-content li:hover {
    background-color: #ff7e42; /* Color de fondo en hover */
}
#menuDesplegable li a {
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: white; /* Cambia el color de fuente a tu preferencia */
    font-family: Arial, sans-serif; /* Cambia la fuente a tu preferencia */
    font-size: 14px; /* Cambia el tamaño de fuente a tu preferencia */
}


   
